@import 'variables.css';

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-light);
    color: var(--text-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

